<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.github.semanticreleasekotlin" level="warn" additivity="true"/>

        <Root level="warn" additivity="true">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>